services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend-web
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - media_data:/app/media
    restart: unless-stopped

volumes:
  media_data:
